html {
    margin: 0;
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: #212529;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    color: var(--body-text-color);
    font-family: Noto Sans,sans-serif;
}

.header {
    width: 100%;
    font-size: 14px;
}

.header_inner__border {
    height: 64px;
    min-height: 64px;
    border-bottom: 1px solid #d1d1d1;
}

.header__inner {
    position: relative;
    z-index: 11;
    height: 100%;
    padding: 0 72px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1440px;
    margin: 0 auto;
}

.header_left, .header_right {
    display: flex;
    justify-content: space-between;
}

.header_left {
    align-items: stretch;
}

.header_right {
    align-items: center;
}

.header__logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.logo {
    width: 99px;
}

.header_menu__inner {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu__item {
    height: 100%;
    position: relative;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    margin: 0 16px;
    padding: 20px 0;
    font-weight: 400;
}

.header_menu__item.active:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translate(-50%);
    width: 100%;
    height: 3px;
    background: green;
    border-radius: 2px;
}

.header_menu__item:hover, .header_menu__item a:hover  {
    color: #4fb84e;
    text-decoration: none;
    transition: 0.2s;
}

.header_menu__item_faq a {
    text-decoration: none;
    color: inherit
}

.header__call {
    display: block;
    margin-right: 24px;
}

.header__call-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__call-number {
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.header__call-number:hover {
    color: #4fb84e;
    text-decoration: none;
    transition: 0.2s;
}

.header__call:hover {
    color: #212529;
    text-decoration: none;
}

.header__call-icon .icon {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.header__internet-bank {
    margin-right: 24px;
    display: flex;
    align-items: center;
    color: inherit
}

.header__internet-bank:hover {
    color: #4fb84e;
    text-decoration: none;
    transition: 0.2s;
}

.header__internet-bank-icon {
    margin-right: 8px;
}

.header__internet-bank span {
    position: relative;
    font-weight: 400;
    cursor: pointer;
    font-size: 12px;
}

.header__internet-bank-icon .icon {
    width: 32px;
    height: 32px;
}

.header__language {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 32px;
    height: 32px;
    min-width: 32px;
    width: 32px;
    background-color: #F5F6F7;
    border-radius: 16px;
    margin-right: 8px;
}

.header__language a {
    color: #5c5c5c;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

.header__language a:hover {
    color: #4fb84e;
    text-decoration: none;
    transition: 0.2s;
}

.header__switch {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 32px;
    height: 32px;
    min-width: 64px;
    width: 64px;
    background-color: #F5F6F7;
    border-radius: 16px;
}

.header__switch .icon{
    margin-right: 8px;
}

.header_bottom {
    width: 100%;
}

.header-sub__content {
    z-index: 10;
    display: none;
    width: 100%;
    border-bottom: 1px solid #d1d1d1;
}

.header-sub__content.active {
    display: block;
}

.header-sub__content-inner {
    padding: 8px 60px;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
}

.header-sub__link {
    position: relative;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: #191919;
}

.header-sub__link:hover {
    color: #4fb84e;
    transition: 0.2s;
    text-decoration: none;
}

.new-product:after, .special-offer {
    padding: 1px 8px;
    border-radius: 64px;
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;
    margin-left: 4px;
}

.new-product:after {
    content: "NEW";
    color: #fff;
    background-color: #2a8640;
}

.header-menu__item_unlimit {
    color: #2A8640
}

.info {
    padding: 74px 77px 47px;
}

.main-wrapper {
    max-width: 1440px;
}

.info-text {
    padding-left: 164px!important;
    text-align: left;
}

.info_inner_header {
    font-size: 40px;
    font-weight: 700;
}

.info_inner_text {
    font-size: 18px;
    margin-bottom: 32px
}

.info_inner__item {
    margin-left: 8px;
    position: relative;
    top: -5px
}

.promo {
    padding: 72px 72px;
    background-color: #F5F6F7;
    height: 468px;
}

.promo_header {
    margin-bottom: 40px
}

.promo_header__inner {
    color: #2A8640;
    margin-bottom: 20px;
}

.promo-containers {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 12px;    
    width: 1296px;
    height: 186px;
}

.promo-container-item {
    background: #FFFFFF;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    padding: 24px 24px 32px 20px;
    margin-right: 24px;
}

.promo-container-header {
    background: linear-gradient(83.37deg, #4FB84E 10.41%, #2A8640 89.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 24px;
}

.promo-container-border {
    width: 32px;
    border-bottom: 2px solid #2A8640;
    margin-bottom: 24px
}

.promo-container-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.issue {
    padding: 72px 72px;
    background-color: #fff;
}

.issue_header {
    margin-bottom: 48px
}

.issue-containers {
    display: flex;
    flex-direction: row;
    padding: 0;    
    width: 1296px;
    height: 200px;
    margin-bottom: 56.5px;
}

.issue-container-item {
    width: 440px;
    height: 178px;
    display: inline-block;
    margin-bottom: 16px;
}

.issue-container-item:last-child{
    width: 306px;
}

.issue-container-item:first-child {
    padding-left: 15px;
}

.issue-container-item-inner {
    display: inline-block;
    padding: 10px;
    width: 72px;
    height: 72px;
    background: #DDF6CE;
    border-radius: 12px;
}

.issue-container-item-inner h2 {
    color: #2A8640;
    margin-top: 10px;
}

.issue-container-item-inner-step-first {
    display: inline-block;
    width: 349px;
    height: 0px;
    border: 1px dashed #2A8640;
    margin-bottom: 6px;
}

.issue-container-item-inner-step-second {
    display: inline-block;
    width: 360px;
    height: 0px;
    border: 1px dashed #2A8640;
    margin-bottom: 6px;
}

.issue-container-item-inner-text-header {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 22px;
}

.issue-container-item-inner-text-desc {
    font-size: 16px;
    width: 306px;
    line-height: 22px;
}

.issue-button {
    padding: 14px 28px;
    width: 145px;
    height: 48px;
    border: 1px solid #2A8640;
    border-radius: 12px;
    background-color: #fff;
}

.issue-button {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #2A8640;
    font-weight: 400;
    margin: 0 auto;
}

.issue-button:hover {
    text-decoration: none;
    color: #2A8640;;
}

.width-wrapper {
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
}

.width-wrapper .media-block {
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px 72px;
    display: flex;
    justify-content: space-between;
}
.width-wrapper .media-block .left-part {
    display: flex;
    flex-direction: row;
}
.width-wrapper .media-block .left-part .whatsapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #191919;
    margin-right: 60px;
}
.width-wrapper .media-block .left-part .whatsapp .whatsapp-text {
    font-size: 10px;
    color: #939393;
}
.width-wrapper .media-block .left-part .call {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #191919;
}

.width-wrapper .media-block .left-part .call .free-call-text {
    font-size: 10px;
    color: #939393;
}

.width-wrapper .media-block .right_part {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.info-wrapper .info-block {
    padding: 48px 0;
    border-bottom: 1px solid #d1d1d1;
    margin: 0 72px;
}
.footer-nav {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 216px!important;
    height: 366px;
}

.footer-nav span {
    color: #191919;
    font-weight: 600;
    margin-bottom: 15px;
}
.footer-nav ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}
.footer-nav ul li {
    margin-bottom: 10px;
}
.footer-nav ul li a {
    color: #5c5c5c;
}
.logo-row {
    display: flex;
    width: 100%;
}
.logo-row .logo-col {
    margin-right: 50px;
    width: 155px;
}
.logo {
    display: inline-block;
}
.logo svg {
    width: 155px;
    height: auto;
}
.logo-row .footer-address {
    margin-left: 15px;
}

.footer-address {
    font-size: 10px;
    color: #939393;
    text-align: left;
}
.app {
    padding: 32px 21px 24px 24px;
    margin-top: 58px;
    background-image: url(../images/appPhone.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 12px;
    width: 402px;
}

.app .title {
    font-size: 14px;
    font-weight: 600;
    line-height: 22.4px;
}

.app .subtitle {
    font-size: 12px;
    font-weight: 400;
    color: #5c5c5c;
    width: 60%;
}

.app .market-links {
    margin-top: 19px;
}

.app .market-links a:not(:last-child) {
    margin-right: 12px;
}

.app .market-links a {
    display: inline-block;
}

.post-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.post-wrapper .post-text {
    margin: 0 72px;
    padding: 24px 0;
    font-size: 10px;
    font-weight: 400;
    color: #939393;
    text-align: right;
}








